<!DOCTYPE html>
<html>
<head>
	<title>Securify</title>
</head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<meta name="viewpoint" content="width-device-width, intial-scale-1.0">

<style>
	#anima {
		max-width: 800px;
		margin: 0 auto;
	}
</style>

<body>

	<div class="main">	
		<div class="image_1"></div>
		<div class="layer">
			<div class="text_1">
				<div class="rectangle" style="font-family:'sans-serif';"><h2>S</h2></div>
				<p>A safe place</p>
				<h1 style="font-family:'Lobster';">Securify</h1>
				<br>
				<span></span>
				<br>
				<p>To keep all your important documents securely at one place 
					<br></p>
					<!---<input type=" button" class="text_1_btn" value="Login">--->

			</div>	 
		</div>
			</div>

			<div class="dropdown">
		<nav>
			<img class="logo" src="../images/Group 32.png" style=" width:250px; padding-top: 0.7%; ">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="/profile">Profile</a></li>
				<li><a href="#about">About Us</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="/login">Login </a></li>
	
		</nav>
	</div>



	<div class="header-container">
		<div class="wrapper">

			<header>
				<div class="hero-content">
					<div class="rectangle"><h2>S</h2></div>
					<h1>Securify</h1>
				<br>
				<span></span>
				<br>
				<p>A safe place to keep all your important and official documents securely at one place
					<br></p>
					<br>
					<div class="button">
			<a href="registeration" class="btn">Register here</a>
		</div>


				</div>
				<div class="hero-image">
					<img src="../images/photo.png" alt="" width="800" height="550"> 
					<div class="photo-bg"></div>
				</div>
	</header>
		</div>
		
	</div>

	<main>
		<section class="left-sec">
			<figure>
				<img src="../images/photo2.png" class="img-fluid" width="227" height="200" >       

			</figure>
		</section>
		<section class="left-secb">
			<figure>
				<img src="../images/iphone.png" class="img-fluid" width="450" height="900"  alt="">
			</figure>
		</section>

		<section class="right-sec">
			<figure>
				<img src="../images/photo3.png" class="img-fluid" width="240" height="185">
			</figure>
		</section>

		<!----------------steps to follow-------------->
		

	<section id="feature">
		<div class="overlay"></div>
		<div class="text">
			<h1 style="padding-left: 37%; padding-bottom: 2%; font-size: bold; font-size: 37px; padding-top: 3%; font-family: 'Poppins'; text-align: left;">Instructions for Face Recognition Verification</h1>
			<p style="text-align: center; padding-left: 33%; padding-right: 4%; font-size: 18px; font-family:'Poppins'; text-align: left;">

			 <img src="../images/dot1.png" style=" width: 37px; height: 37px;">First step is for all users to register by clicking in 'Register here' button on the home page and fill in all the details asked very carefully and upload a picture and required documents with that.<br><br>
			<img src="../images/dot3.png" style=" width: 39px; height: 37px;">Second step is after filling registeration an account is created for the users. <br><br>
			<img src="../images/dot4.png" style=" width: 37px; height: 37px;">Now for Face Recognition very first thing is that, it is for only for all the Organisations to access the Face Recognition feature on this website so that they can open to all the files and document.<br><br>
			<img src="../images/dot5.png" style=" width: 37px; height: 37px;">Once face recognition has been done properly after that all the three respective organisation can open the documents acoording to their requirements i.e., Healthcare, Education and Security. <br><br>
			<img src="../images/dot6.png" style=" width: 37px; height: 37px;">Last step is to make sure that all the users upload your recent document time to time.<br><br>
			
		
			</p>
		</div>
	</section>


		<!----------------Features---------------------->
	<section class="about" id="about">
		<div class="row">
		<div class="col50">
			<h1 class="tileText" style="padding-left: 30%; padding-bottom: 2%; font-weight: bold; font-family: 'poppins';"><span>A</span>bout Us</h1>
			<p style="text-align: center; padding-left: 5%; padding-right: 2%; top: 5%; font-family: 'Poppins'; font-size: 18px;"> 
			The main goal of this project is to assist in providing such a platform for everyone where they can find all their important documents at one place without having second thought about losing them.You can use this Website to store important and official documents, infact not just official documents but also something as important as your all kind of medical records which will help each and every person to keep a better watch over their health. In healthcare sector this can be helpful for both doctors, hopital staff and patient. We also make sure to provide security to keep everyone's personal data safely.
			</p><br><br>
			</div>
		<div class="col50">
			<div class="imgBx">
				<img src="../images/picture6.jpg">
			</div>
			<p><br><br></p>
		</div>
		</div>
	</div>
	</section>

		</main>


<!---------------------------footer-------------------------->

<section class="footerL-img">
			<figure>
				<img src="../images/footer1.png" class="img-fluid" width="170" height="115">
			</figure>
		</section>


<section class="footerR-img">
			<figure>
				<img src="../images/footer3.png" class="img-fluid" width="95" height="170">
			</figure>
		</section>


	<footer>
		<div class="footer-content">
			<h3>Securify</h3>
			<p>Safe and secure digital document wallet</p>
			<ul class="socials">
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
				<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fab fa-youtube"></i></a></li>
				<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
			</ul>
		</div>
		<div class="footer-bottom">
			<p>copyright &copy;2022</p>
		</div>
	</footer>


<!-----
	<script type="text/javascript">window.addEventListerner('scroll',function(){const dropdown = document.querySelector('dropdown'); dropdown.classList.toogle("sticky", window.scrollY > 0);
});
</script>

---->
<script src="script.js"></script>

</body>
</html>