<!DOCTYPE html>
<html>
<head>
    <title>Login FORM</title>
    <link rel="stylesheet"  href="../css/stylel.css">
</head>
<body>
    <div class="login-form">
      <h1>Login Form</h1>
      <form action="#" method="post">
        <p>User Name or Email id</p>
        <input type="text" name="user" placeholder="User Name or email">
        <p>Password</p>
        <input type="password" name="password" placeholder="password">
        <button type="submit">Login</button>
      </form>
    </div>
</body>
</html>